
#form__container {
  @apply w-[90%] max-w-xl rounded-xl fixed;
  @apply bg-[#262625];
  @apply top-[50%] left-[50%];
  transform: translate(-50%, -50%);

  #lobby__form {
    @apply p-[2em];
    
    .form__field__wrapper {
      @apply w-full box-border mb-5;

      label {
        @apply text-sm leading-7 block mb-3;
      }

      input {
        @apply w-full m-0 border-none rounded-[5px] px-4 py-3 text-[15px] bg-[#3f434a];
      }

      button[type='submit'] {
        @apply mt-8 cursor-pointer bg-[#845695] border-none text-white text-[16px] w-full flex items-center justify-center py-3 rounded-[5px];
        
        svg {
          @apply ml-2;
          fill: #ede0e0;
          width: 20px;
        }
      }
    }
  }

  #form__container__header {
    @apply text-center p-[20px] bg-[#363739] m-0 text-[18px] font-bold rounded-lg;
  }
}


#avatar__selection {
  margin-right: 10px;
  display: flex;
  gap: 1em;
}

.avatar__option {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid #797a79;
}

.avatar__option__selected {
  border: 3px solid #845695;
}
